{% extends "movieist/base.html" %}

{% load i18n %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'movieist/css/logout.css'%}">
{% endblock %}

{% block content %}
<div class="main">
  <b-container style="padding: 0 5% 0 5%">
    <b-row class="page-title">
      <b-col cols="12" style="padding: 1vw; text-align: center;">
        <h1 style="font-size: calc(17px + 0.7vw); font-weight: 700;">{% trans "Sign Out" %}</h1>
      </b-col>
    </b-row>
    <b-card style="margin: 1vw;">
      <b-row>
        <b-col cols="12">
          <form class="logout" method="POST" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <b-row>
              <b-col style="font-size: calc(10px + 0.5vw);">
                {{request.user.username}}でログインしています。
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="padding: 1vw;">
                <b-button class="primaryAction" type="submit" style="margin: 0 auto; font-size: calc(10px + 0.5vw);">
                  {% trans 'Sign Out' %}</b-button>
              </b-col>
            </b-row>
          </form>
        </b-col>
      </b-row>
    </b-card>
  </b-container>
</div>
<!--
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>
-->

{% endblock %}