.read-only span svg {
    height: calc(10px + 1vw);
    width: calc(10px + 1vw);
}

.VueCarousel-navigation-next {
    font-size: calc(20px + 0.5vw);
}

.VueCarousel-navigation-prev {
    font-size: calc(20px + 0.5vw);
}

.main{
    background-color: #fafafa;
}

.vue-star-rating-rating-text{
    font-size: calc(17px + 1vw);
    color: gold;
}

.page-title{
    position: relative;
    background-color: white; 
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 2vw calc(50vw - 50%) 2vw calc(50vw - 50%);
}