.VueCarousel-navigation-next {
    font-size: calc(20px + 0.5vw);
}

.VueCarousel-navigation-prev {
    font-size: calc(20px + 0.5vw);
}

.main{
    background-color: #fafafa;
}

.page-title{
    background-color: white; 
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    padding-right: calc(50vw - 50%);
    padding-left: calc(50vw - 50%);
    padding-bottom: 3vw;
    border-bottom: 1px solid rgb(223, 223, 223);
}