{% extends 'movieist/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'movieist/css/following.css'%}">
{% endblock %}

{% block content %}
<div class="main">
    <b-container style="padding: 0 5% 0 5%">
        <b-row class="page-title" style="padding: 1vw;">
            <h3 style="font-size: calc(17px + 0.7vw); font-weight: 700; margin: 0 auto;">following</h3>
        </b-row>
        <b-card style="margin: 1vw 0 1vw 0;">
            {% for follow in followingData %}
            <b-row align-v="center">
                {% for following in follow.profile %}
                <b-col cols="8" style="padding: 1vw;">
                    <b-avatar src="{{following.userPic.url}}" size="calc(40px + 2vw)"></b-avatar>
                    <a href="/movieist/reviewer/{{follow.following}}"
                        style="font-size: calc(10px + 0.5vw);">{{following.user.username}}</a>
                </b-col>
                {% endfor %}
                {% if follow.following != request.user.id %}
                <b-col cols="4" style="padding: 1vw; text-align: right;">
                    <form action="{% url 'following' user_id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="follow" value="{{follow.following}}">
                        <b-button type="submit" style="font-size: calc(10px + 0.5vw); padding: 0.5vw;">{{follow.button}}
                        </b-button>
                    </form>
                </b-col>
                {% endif %}
            </b-row>
            {% endfor %}
        </b-card>

    </b-container>
</div>
{% endblock %}