{% extends 'movieist/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'movieist/css/editprofile.css'%}">
{% endblock %}

{% block content %}
<div class="main">
    <b-container style="padding: 0 5% 0 5%">
        <div class="page-title">
            <b-row style="padding: 1vw;">
                <h3 style="font-size: calc(17px + 0.7vw); font-weight: 700; margin: 0 auto; padding: 2vw;">プロフィール編集</h3>
            </b-row>
        </div>
        <form action="{% url 'editprofile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <b-card no-body="true"
                style="padding: 1vw; margin: 1vw 0 1vw 0; width: 100%; border: 2px solid rgb(187, 187, 187);">
                {% for ifield in iform %}
                <b-row style="width: 100%; margin: 0px;">
                    <b-col sm="4"
                        style="font-size: calc(12px + 0.5vw); display: flex; align-items: center; font-weight: 700; padding: 1vw;">
                        {{ ifield.label_tag }}
                    </b-col>
                    <b-col sm="8" style="font-size: calc(12px + 0.3vw); padding: 1vw; border-radius: 5px;">
                        <b-avatar src="{{profileData.userPic.url}}" size="calc(50px + 3vw)" style="margin: 1vw;">
                        </b-avatar>
                        <p style="width: 100%;">{{ ifield }}</p>
                        <p>{{ ifield.errors }}</p>
                    </b-col>
                </b-row>
                {% endfor %}
                {% for pfield in pform %}
                <b-row style="width: 100%; margin: 0px;">
                    <b-col sm="4"
                        style="font-size: calc(12px + 0.5vw); display: flex; align-items: center; font-weight: 700; padding: 1vw;">
                        {{ pfield.label_tag }}
                    </b-col>
                    <b-col sm="8" style="font-size: calc(12px + 0.3vw); padding: 1vw;">
                        <p style="width: 100%;">{{ pfield }}</p>
                        <p>{{ pfield.errors }}</p>
                    </b-col>
                </b-row>
                {% endfor %}
                {% for ufield in uform %}
                <b-row style="width: 100%; margin: 0px;">
                    <b-col sm="4"
                        style="font-size: calc(12px + 0.5vw); display: flex; align-items: center; font-weight: 700; padding: 1vw;">
                        {{ ufield.label_tag }}
                    </b-col>
                    <b-col sm="8" style="font-size: calc(12px + 0.3vw); padding: 1vw;">
                        <p style="width: 100%;">{{ ufield }}</p>
                        <p>{{ ufield.errors }}</p>
                    </b-col>
                </b-row>
                {% endfor %}
            </b-card>
            <b-row style="padding: 1vw;">
                <b-button type="submit" style="margin: 0 auto; font-size: calc(10px + 0.5vw);">更新</b-button>
            </b-row>
        </form>
    </b-container>
</div>
{% endblock %}