{% extends 'movieist/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/editprofile.css'%}">
{% endblock %}

{% block content %}
<div class="main">
    <form action="{% url 'editprofile' %}" method="post" enctype="multipart/form-data">
        <table>
            {% csrf_token %}
            {{profileForm}}
            {{userForm}}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="送信">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}