{% extends 'movieist/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/following.css'%}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="container">
        {% for follow in followingData %}
        <div class="following">
            {% for following in follow.profile %}
            <div class="left-box">
                <img src="{{following.userPic.url}}" width="100" height="100" />
                <a href="/movieist/reviewer/{{follow.following}}">{{following.user.username}}</a>
            </div>
            {% endfor %}
            <div class="right-box">
                {% if follow.following != request.user.id %}
                <form action="{% url 'following' user_id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="follow" value="{{follow.following}}">
                    <input type="submit" value="{{follow.button}}">
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}