{% extends 'movieist/base.html' %}

{% block content %}
<div class="main">
    <div class="container">
        {% for follow in followerData %}
        <div class="follower">
            {% for follower in follow.profile %}
            <div class="left-box">
                <img src="{{follower.userPic.url}}" width="100" height="100" />
                <a href="/movieist/reviewer/{{follow.follower}}">{{follower.user.username}}</a>
            </div>
            {% endfor %}
            <div class="right-box">
                {% if follow.follower != request.user.id %}
                <form action="{% url 'follower' user_id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="follow" value="{{follow.follower}}">
                    <input type="submit" value="{{follow.button}}">
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}