<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>
    <div class="header">
        <div class="header-title">
            <h3>Movieist</h3>
        </div>
        <div class="header-list">
            <ul>
                <li>注目の映画</li>
                <li>映画を探す</li>
                <li>レビュアーランキング</li>
                <li>レビューする</li>
            </ul>
        </div>
        <div class="header-menu">
            <img src="" alt="">
        </div>
    </div>
    <div class="main">
        <div class="main-top">
            <img src="" alt="">
            <div class="top-title">
                <h2>Movieist for contributor</h2>
                <p>投稿者のおすすめから見つける映画情報サイト >>></p>
            </div>
        </div>
        <div class="main-bottom">
            <div class="container">
                <div class="middle-notice">
                    <h2>注目の投稿></h2>
                    <div class="notice-review">

                    </div>
                </div>
                <div class="middle-"></div>
            </div>
        </div>
    </div>
</body>
{% block content %}
{% endblock %}

</html>