{% extends 'movieist/base.html' %}

{% block content %}
<div class="main">
    <div class="container">
        <title>映画を選択></title>
        <div class="select">
            <div class="form">
                <table>
                    <form action="{% url 'movieselect' %}" method="post">
                        {% csrf_token %}
                        {{form}}
                        <tr>
                            <th></th>
                            <td><input type="submit" value="click"></td>
                        </tr>
                    </form>
                </table>
            </div>

            <div class="result">
                <div class="result-container">
                    <div class="movie-box">
                        {% for i in res %}
                        <img src=https://image.tmdb.org/t/p/w500{{i.poster_path}}>
                        <a href="overview/{{i.id}}">{{i.title}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}