{% extends 'movieist/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'movieist/css/overview.css'%}">
{% endblock %}

{% block content %}
<div class="main">
    <b-container style="padding: 0 5% 0 5%">
        <div class="genre">
            <b-row style="background-color: white; margin-right: calc(50% - 50vw);
                margin-left: calc(50% - 50vw);
                padding-right: calc(50vw - 50%);
                padding-left: calc(50vw - 50%);">
                <b-col sm="4">
                    <b-img src="{{image}}" fluid alt="Responsive image" style="padding: 2vw 0 2vw 0;"></b-img>
                </b-col>
                <b-col sm="8" style="padding: 3vw;">
                    <b-row style="font-size: calc(13px + 0.7vw);">
                        <h3 style="font-size: calc(15px + 1vw); color: #333; font-weight: 700;">
                            {{title}}
                        </h3>
                    </b-row>
                    <b-row>
                        <h6 style="font-weight: 700; font-size: calc(12px + 0.3vw);">ジャンル：</h6>
                        <h6 style="font-weight: 700; font-size: calc(12px + 0.3vw);">{{genre}}</h6>
                        <h6 style="font-size: calc(12px + 0.3vw);">／</h6>
                        <h6 style="font-weight: 700; font-size: calc(12px + 0.3vw);">上映日：</h6>
                        <h6 style="font-weight: 700; font-size: calc(12px + 0.3vw);">{{release_date}}</h6>
                    </b-row>
                    <b-row>
                        <star-rating :increment="0.5" v-model="{{starAvg}}" read-only="true" class="read-only">
                        </star-rating>
                    </b-row>
                    <b-row style="padding-top: 1vw;">
                        <h5 style="font-weight: 700; font-size: calc(13px + 0.5vw);">概要</h5>
                    </b-row>
                    <b-row>
                        {% if overview %}
                        <p style="font-size: calc(12px + 0.3vw);">{{overview}}</p>
                        {% else %}
                        <p style="font-size: calc(12px + 0.3vw);">概要がありません。</p>
                        {% endif %}
                    </b-row>
                    <b-row>
                        <b-link href="review">レビューする</b-link>
                    </b-row>
                </b-col>
            </b-row>
            <b-row style="background-color: #eee; margin-right: calc(50% - 50vw);
                margin-left: calc(50% - 50vw);
                padding-right: calc(50vw - 50%);
                padding-left: calc(50vw - 50%); border: 2px solid rgb(223, 223, 223);">
                <b-col cols="12">
                    <carousel :per-page-custom=[[780,4],[1024,5]] loop="true" :pagination-enabled="false"
                        :navigation-enabled="true" navigation-prev-label="〈" navigation-next-label="〉" centerMode="true"
                        style="width: 100%;">
                        {% for image in backdrop %}
                        <slide style="padding: 1vw;">
                            <b-button v-b-modal.modal-{{ forloop.counter }} style="padding: 0px; border: none;">
                                <img src="https://image.tmdb.org/t/p/w500{{image.file_path}}" style="max-width: 100%;">
                            </b-button>
                            <b-modal id="modal-{{ forloop.counter }}" centered hide-footer="true"
                                header-border-variant="white">
                                <img src="https://image.tmdb.org/t/p/w500{{image.file_path}}" style="max-width: 100%;">
                            </b-modal>
                        </slide>
                        {% endfor %}
                    </carousel>
                </b-col>
            </b-row>
            <b-row align-h="center">
                <b-col md="10">
                    <h3 style="font-size: calc(20px + 0.5vw); color: #333; font-weight: 700; padding: 2vw 2vw 0 2vw;">
                        レビュー
                    </h3>
                    {% for genre in reviewData %}
                    <b-card style="padding:1vw; margin: 1vw;" no-body="true">
                        {% for user in genre.profile %}
                        <b-row>
                            <b-col cols="12">
                                <b-avatar src="{{user.userPic.url}}" size="calc(40px + 1vw)"></b-avatar>
                                <b-link href="/movieist/reviewer/{{user.user_id}}"
                                    style="font-size: calc(12px + 0.3vw); padding: 1vw;">{{user.user.username}}
                                </b-link>
                            </b-col>
                        </b-row>
                        {% endfor %}
                        <b-row>
                            <b-col cols="12">
                                <star-rating :increment="0.5" v-model="{{genre.star}}" read-only="true"
                                    class="read-only">
                                </star-rating>
                            </b-col>
                        </b-row>
                        <b-card no-body="true" style="padding: 1vw;">
                            <b-row>
                                <b-col cols="12">
                                    <h6 style="font-weight: 700; font-size: calc(12px + 0.3vw);">
                                        {{genre.commentTitle}}
                                    </h6>
                                </b-col>
                                <b-col cols="12" style="font-size: calc(12px + 0.3vw); text-align: center;">
                                    <p v-if="toggle === {{ forloop.counter }}" style="margin: 0px; text-align: left;">
                                        {{genre.comment}}
                                    </p>
                                    <p
                                        v-else　style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5; text-align: left; margin: 0px;">
                                        {{genre.comment}}
                                    </p>
                                    <button v-if="toggle === {{ forloop.counter }}" @click="toggleBtn(0)"
                                        style="padding: 0px; border: 0px; background-color: white; font-size: calc(20px + 1vw); height: 0px;">
                                        <b-icon icon="chevron-compact-up" aria-hidden="true">
                                        </b-icon>
                                    </button>
                                    <button v-else @click="toggleBtn({{ forloop.counter }})"
                                        style="padding: 0px; border: 0px; background-color: white; font-size: calc(20px + 1vw); height: 0px;">
                                        <b-icon icon="chevron-compact-down" aria-hidden="true">
                                        </b-icon>
                                    </button>
                                </b-col>
                            </b-row>
                        </b-card>
                        <b-row>
                            <b-col cols="12" style="display: flex;">
                                <form search="{% url 'homepage' %}" method="post"
                                    style="padding: 2px; text-align: right;">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{genre.id}}">
                                    <b-button variant="outline-dark" type="submit" name="good" value="GOOD"
                                        style="padding: 2px 5px 2px 5px;">
                                        <b-icon icon="hand-thumbs-up" aria-hidden="true"></b-icon>
                                        {{genre.countgood}}
                                    </b-button>
                                </form>
                                <form search="{% url 'homepage' %}" method="post" style="padding: 2px;">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{genre.id}}">
                                    <b-button variant="outline-dark" type="submit" name="bad" value="BAD"
                                        style="padding: 2px 5px 2px 5px;">
                                        <b-icon icon="hand-thumbs-down" aria-hidden="true"></b-icon>
                                        {{genre.countbad}}
                                    </b-button>
                                </form>
                            </b-col>
                        </b-row>
                    </b-card>
                    {% endfor %}
                </b-col>
            </b-row>
            <!--
            <b-card style="padding: 1vw; margin: 1vw;" no-body="true">
                <b-row>
                    <b-col cols="12" sm="9">
                        {% for user in genre.profile %}
                        <b-row>
                            <b-col cols="12">
                                <b-avatar src="{{user.userPic.url}}" size="calc(40px + 1vw)"></b-avatar>
                                <b-link href="/movieist/reviewer/{{user.user_id}}"
                                    style="font-size: calc(12px + 0.3vw); padding: 1vw;">{{user.user.username}}
                                </b-link>
                            </b-col>
                            {% endfor %}
                        </b-row>
                        <b-row>
                            <b-col cols="12">
                                <star-rating :increment="0.5" v-model="{{genre.star}}" read-only="true"
                                    class="read-only">
                                </star-rating>
                            </b-col>
                        </b-row>
                        <b-card no-body="true" style="padding: 1vw;">
                            <b-row>
                                <b-col cols="12">
                                    <h6 style="font-weight: 700; font-size: calc(12px + 0.3vw);">
                                        {{genre.commentTitle}}
                                    </h6>
                                </b-col>
                                <b-col cols="12" style="font-size: calc(12px + 0.3vw); text-align: center;">
                                    <p v-if="toggle === {{ forloop.counter }}" style="margin: 0px; text-align: left;">
                                        {{genre.comment}}
                                    </p>
                                    <p
                                        v-else　style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5; text-align: left; margin: 0px;">
                                        {{genre.comment}}
                                    </p>
                                    <button v-if="toggle === {{ forloop.counter }}" @click="toggleBtn(0)"
                                        style="padding: 0px; border: 0px; background-color: white; font-size: calc(20px + 1vw); height: 0px;">
                                        <b-icon icon="chevron-compact-up" aria-hidden="true">
                                        </b-icon>
                                    </button>
                                    <button v-else @click="toggleBtn({{ forloop.counter }})"
                                        style="padding: 0px; border: 0px; background-color: white; font-size: calc(20px + 1vw); height: 0px;">
                                        <b-icon icon="chevron-compact-down" aria-hidden="true">
                                        </b-icon>
                                    </button>
                                </b-col>
                            </b-row>
                        </b-card>
                        <b-row>
                            <b-col cols="12" style="display: flex;">
                                <form search="{% url 'homepage' %}" method="post"
                                    style="padding: 2px; text-align: right;">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{genre.id}}">
                                    <b-button variant="outline-dark" type="submit" name="good" value="GOOD"
                                        style="padding: 2px 5px 2px 5px;">
                                        <b-icon icon="hand-thumbs-up" aria-hidden="true"></b-icon>
                                        {{genre.countgood}}
                                    </b-button>
                                </form>
                                <form search="{% url 'homepage' %}" method="post" style="padding: 2px;">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{genre.id}}">
                                    <b-button variant="outline-dark" type="submit" name="bad" value="BAD"
                                        style="padding: 2px 5px 2px 5px;">
                                        <b-icon icon="hand-thumbs-down" aria-hidden="true"></b-icon>
                                        {{genre.countbad}}
                                    </b-button>
                                </form>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
            </b-card>
            -->
        </div>
        <b-row align-h="center" style="padding-top: calc(20px + 2vw);">
            <b-col cols="10">
                <ul class="pagination">
                    <carousel :per-page="5" :per-page-custom=[[780,10],[1024,20]] loop="true"
                        :pagination-enabled="false" :navigation-enabled="true" navigation-prev-label="〈"
                        navigation-next-label="〉" centerMode="true" style="width: 100%;">
                        {% for num in page_obj.paginator.page_range %}
                        <slide>
                            {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link" href="#!"
                                    style="text-align: center; padding: calc(1px + 0.5vw);">{{ num }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}"
                                    style="text-align: center; padding: calc(1px + 0.5vw);">{{ num }}</a></li>
                            {% endif %}
                        </slide>
                        {% endfor %}
                    </carousel>
                </ul>
            </b-col>
        </b-row>
    </b-container>
</div>
{% endblock %}