<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{{page_title}}</title>
</head>

<body>
    <div class="header">
        <div class="header-title">
            <h3>Movieist</h3>
        </div>
        <div class="header-list">
            <ul>
                <li>注目の映画</li>
                <li>映画を探す</li>
                <li>レビュアーランキング</li>
                <li>レビューする</li>
            </ul>
        </div>
        <div class="header-menu">
            <img src="" alt="">
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="title">
                <title>映画概要></title>
            </div>
            <div class="overview">
                <div class="overview-image">
                    <img src={{image}}>
                </div>
                <div class="overview-contents">
                    <h1>{{title}}</h1>
                    <a href="review">レビュー></a>
                    <p>{{overview}}</p>
                </div>
                <div class="reviews">
                    <div class="review">
                        {% for review in reviewData %}
                        <div class="topBox">
                            {% for user in review.profile %}
                            <div class="user">
                                <img src="{{user.userPic.url}}" width="100" height="100" />
                                <a href="/movieist/reviewer/{{user.user_id}}">{{user.user.username}}</a>
                            </div>
                            {% endfor %}
                            <div class="evaluation">
                                <form review="{% url 'overview' movie_id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{review.id}}">
                                    <input type="submit" name="good" value="GOOD">
                                </form>
                                <h3>{{review.countgood}}</h3>
                                <form review="{% url 'overview' movie_id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{review.id}}">
                                    <input type="submit" name="bad" value="BAD">
                                </form>
                                <h3>{{review.countbad}}</h3>
                            </div>
                        </div>
                        <div class="downBox">
                            <div class="comments">
                                <h3>{{review.commentTitle}}</h3>
                                <p>{{review.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-title">
                <h3>Movieist></h3>
                <p>投稿者のおすすめから見つける映画情報サイト >>></p>
            </div>
            <div class="footer-sitemap">
                <ul>
                    <li>/homePage</li>
                    <li>/search</li>
                    <li>/reviewerRanking</li>
                    <li>/overview</li>
                </ul>
                <ul>
                    <li>/login</li>
                    <li>/sign up</li>
                    <li>/profile</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>