{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'movieist/css/style.css' %}" />
    <title>{{page_title}}</title>
    <!--
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-star-rating@1.7.0/dist/VueStarRating.umd.min.js"></script>
    -->
</head>

<body>
    <div class="header">
        <div class="header-title">
            <h3>Movieist</h3>
        </div>
        <div class="header-list">
            <ul>
                <li>注目の映画</li>
                <li>映画を探す</li>
                <li>レビュアーランキング</li>
                <li>レビューする</li>
            </ul>
        </div>
        <div class="header-menu">
            <img src="" alt="">
        </div>
    </div>
    <div class="main">
        <div class="container">
            {% for profile in profileData %}
            <div class="user">
                <div class="user-upside">
                    <div class="left-box">
                        <img src="{{ profile.userPic.url }}" width="100" height="100" />
                        <h3>{{profile.user.username}}</h3>
                    </div>
                    <div class="right-box">
                        <div class="count-review">

                        </div>
                        <div class="follower">
                            <h1>{{followerData}}</h1>
                        </div>
                        <div class="following">
                            <h1>{{followingData}}</h1>
                        </div>
                    </div>
                </div>
                <div class="user-downside">
                    <div class="user-comment">
                        <p>{{profile.userComment}}</p>
                    </div>
                    <a href="editprofile">プロフィール編集</a>
                </div>
            </div>
            {% endfor %}

            <div class="reviews">
                <div class="container">
                    <h2>レビュー></h2>
                    {% for review in reviewData %}
                    <div class="review">
                        <div class="review-image">
                            <img src="{{ review.image_path }}">
                        </div>
                        <div class="review-contents">
                            <div class="topBox">
                                <div class="titleAndStar">
                                    <h1>{{review.title}}</h1>
                                </div>
                                <div class="evaluation">
                                    <h3>{{review.good}}</h3>
                                    <h3>{{review.bad}}</h3>
                                </div>
                            </div>
                            <div class="downBox">
                                <div class="comments">
                                    <h3>{{review.commentTitle}}</h3>
                                    <p>{{review.comment}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-title">
                <h3>Movieist></h3>
                <p>投稿者のおすすめから見つける映画情報サイト >>></p>
            </div>
            <div class="footer-sitemap">
                <ul>
                    <li>/homePage</li>
                    <li>/search</li>
                    <li>/reviewerRanking</li>
                    <li>/overview</li>
                </ul>
                <ul>
                    <li>/login</li>
                    <li>/sign up</li>
                    <li>/profile</li>
                </ul>
            </div>
        </div>
    </div>
    <!--
    <script>
        Vue.component("star-rating", VueStarRating.default);

        new Vue({
            el: "#app",
            methods: {
                setRating: function (rating) {
                    this.rating = "You have Selected: " + rating + " stars";
                },
                showCurrentRating: function (rating) {
                    this.currentRating =
                        rating === 0
                            ? this.currentSelectedRating
                            : "Click to select " + rating + " stars";
                },
                setCurrentSelectedRating: function (rating) {
                    this.currentSelectedRating = "You have Selected: " + rating + " stars";
                }
            },
            data: {
                rating: "No Rating Selected",
                currentRating: "No Rating",
                currentSelectedRating: "No Current Rating",
                boundRating: 3
            }
        });
    </script>
-->
</body>

</html>