{% extends 'movieist/base.html' %}

{% block content %}
<div id="app" class="main">
    <div class="container">
        <h1>{{title}}</h1>
        <div class="star-rating">
            <h2>評価</h2>
            <star-rating :increment="0.5" :star-size="35" v-model="boundRating"></star-rating>
        </div>

        <form action="{% url 'review' movie %}" method="post">
            <table>
                {% csrf_token %}
                {{form}}
                <tr>
                    <td></td>
                    <td>
                        <input type="hidden" name="star" :value="boundRating">
                        <input type="submit" value="送信">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}