{% extends 'movieist/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'movieist/css/review.css'%}">
{% endblock %}

{% block content %}
<div class="main">
    <b-container style="padding: 0 5% 0 5%">
        <div class="page-title">
            <b-row style="padding: 1vw;">
                <h3 style="font-size: calc(17px + 0.7vw); font-weight: 700; margin: 0 auto; padding: 2vw;">レビュー</h3>
            </b-row>
        </div>
        <form action="{% url 'review' movie %}" method="post">
            {% csrf_token %}
            <b-row style="padding: 1vw;">
                <h3 style="font-size: calc(17px + 0.7vw); font-weight: 700; padding: 2vw;">{{title}}</h3>
            </b-row>
            <b-card no-body="true"
                style="padding: 1vw; margin: 1vw 0 1vw 0; width: 100%; border: 2px solid rgb(187, 187, 187);">
                <b-row style="width: 100%; margin: 0px;">
                    <b-col sm="4"
                        style="font-size: calc(12px + 0.5vw); display: flex; align-items: center; font-weight: 700; padding: 1vw;">
                        <p style="margin: 0px;">スコア:</p>
                    </b-col>
                    <b-col sm="8" style="font-size: calc(12px + 0.3vw); padding: 1vw; border-radius: 5px;">
                        <star-rating :increment="0.5" v-model="boundRating"></star-rating>
                    </b-col>
                </b-row>
                {% for field in form %}
                <b-row style="width: 100%; margin: 0px;">
                    <b-col sm="4"
                        style="font-size: calc(12px + 0.5vw); display: flex; align-items: center; font-weight: 700; padding: 1vw;">
                        {{ field.label_tag }}
                    </b-col>
                    <b-col sm="8" style="font-size: calc(12px + 0.3vw); padding: 1vw; border-radius: 5px;">

                        <p style="width: 100%;">{{ field }}</p>
                        <p>{{ field.errors }}</p>
                    </b-col>
                </b-row>
                {% endfor %}
            </b-card>
            <b-row style="padding: 1vw;">
                <input type="hidden" name="star" :value="boundRating">
                <b-button type="submit" style="margin: 0 auto; font-size: calc(10px + 0.5vw);">投稿</b-button>
            </b-row>
        </form>
    </b-container>
</div>
{% endblock %}