<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{{page_title}}</title>
</head>

<body>
    <div class="header">
        <div class="header-title">
            <h3>Movieist</h3>
        </div>
        <div class="header-list">
            <ul>
                <li>注目の映画</li>
                <li>映画を探す</li>
                <li>レビュアーランキング</li>
                <li>レビューする</li>
            </ul>
        </div>
        <div class="header-menu">
            <img src="" alt="">
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="title">
                <h3>映画を探す></h3>
            </div>
            <div class="genres">

                <div class="action">
                    <a href="/movieist/search/action">アクション></a>
                    <div class="reviewBox">
                        {% for action in actionData %}
                        <div class="leftBox">
                            <img src="{{action.image_path}}">
                            <h3>{{action.title}}</h3>
                        </div>
                        <div class="rightBox">
                            <div class="userAndEvaluation">
                                {% for user in action.profile %}
                                <div class="user">
                                    <img src="{{user.userPic.url}}" width="100" height="100" />
                                    <a href="">{{user.user.username}}</a>
                                </div>
                                {% endfor %}
                                <div class="evaluation">
                                    <form action="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{action.id}}">
                                        <input type="submit" name="good" value="GOOD">
                                    </form>
                                    <h3>{{action.countgood}}</h3>
                                    <form action="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{action.id}}">
                                        <input type="submit" name="bad" value="BAD">
                                    </form>
                                    <h3>{{action.countbad}}</h3>
                                </div>
                            </div>
                            <div class="comments">
                                <h3>{{action.commentTitle}}</h3>
                                <p>{{action.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="SF">
                    <a href="/movieist/search/sf">SF></a>
                    <div class="reviewBox">
                        {% for SF in SFData %}
                        <div class="leftBox">
                            <img src="{{SF.image_path}}">
                            <h3>{{SF.title}}</h3>
                        </div>
                        <div class="rightBox">
                            <div class="userAndEvaluation">
                                {% for user in SF.profile %}
                                <div class="user">
                                    <img src="{{user.userPic.url}}" width="100" height="100" />
                                    <a href="">{{user.user.username}}</a>
                                </div>
                                {% endfor %}
                                <div class="evaluation">
                                    <form SF="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{SF.id}}">
                                        <input type="submit" name="good" value="GOOD">
                                    </form>
                                    <h3>{{SF.countgood}}</h3>
                                    <form SF="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{SF.id}}">
                                        <input type="submit" name="bad" value="BAD">
                                    </form>
                                    <h3>{{SF.countbad}}</h3>
                                </div>
                            </div>
                            <div class="comments">
                                <h3>{{SF.commentTitle}}</h3>
                                <p>{{SF.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="mystery">
                    <a href="/movieist/search/mystery">ミステリー></a>
                    <div class="reviewBox">
                        {% for mystery in mysteryData %}
                        <div class="leftBox">
                            <img src="{{mystery.image_path}}">
                            <h3>{{mystery.title}}</h3>
                        </div>
                        <div class="rightBox">
                            <div class="userAndEvaluation">
                                {% for user in mystery.profile %}
                                <div class="user">
                                    <img src="{{user.userPic.url}}" width="100" height="100" />
                                    <a href="">{{user.user.username}}</a>
                                </div>
                                {% endfor %}
                                <div class="evaluation">
                                    <form mystery="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{mystery.id}}">
                                        <input type="submit" name="good" value="GOOD">
                                    </form>
                                    <h3>{{mystery.countgood}}</h3>
                                    <form mystery="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{mystery.id}}">
                                        <input type="submit" name="bad" value="BAD">
                                    </form>
                                    <h3>{{mystery.countbad}}</h3>
                                </div>
                            </div>
                            <div class="comments">
                                <h3>{{mystery.commentTitle}}</h3>
                                <p>{{mystery.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="drama">
                    <a href="/movieist/search/drama">ドラマ></a>
                    <div class="reviewBox">
                        {% for drama in dramaData %}
                        <div class="leftBox">
                            <img src="{{drama.image_path}}">
                            <h3>{{drama.title}}</h3>
                        </div>
                        <div class="rightBox">
                            <div class="userAndEvaluation">
                                {% for user in drama.profile %}
                                <div class="user">
                                    <img src="{{user.userPic.url}}" width="100" height="100" />
                                    <a href="">{{user.user.username}}</a>
                                </div>
                                {% endfor %}
                                <div class="evaluation">
                                    <form drama="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{drama.id}}">
                                        <input type="submit" name="good" value="GOOD">
                                    </form>
                                    <h3>{{drama.countgood}}</h3>
                                    <form drama="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{drama.id}}">
                                        <input type="submit" name="bad" value="BAD">
                                    </form>
                                    <h3>{{drama.countbad}}</h3>
                                </div>
                            </div>
                            <div class="comments">
                                <h3>{{drama.commentTitle}}</h3>
                                <p>{{drama.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="comedy">
                    <a href="/movieist/search/comedy">コメディ></a>
                    <div class="reviewBox">
                        {% for comedy in comedyData %}
                        <div class="leftBox">
                            <img src="{{comedy.image_path}}">
                            <h3>{{comedy.title}}</h3>
                        </div>
                        <div class="rightBox">
                            <div class="userAndEvaluation">
                                {% for user in comedy.profile %}
                                <div class="user">
                                    <img src="{{user.userPic.url}}" width="100" height="100" />
                                    <a href="">{{user.user.username}}</a>
                                </div>
                                {% endfor %}
                                <div class="evaluation">
                                    <form comedy="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{comedy.id}}">
                                        <input type="submit" name="good" value="GOOD">
                                    </form>
                                    <h3>{{comedy.countgood}}</h3>
                                    <form comedy="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{comedy.id}}">
                                        <input type="submit" name="bad" value="BAD">
                                    </form>
                                    <h3>{{comedy.countbad}}</h3>
                                </div>
                            </div>
                            <div class="comments">
                                <h3>{{comedy.commentTitle}}</h3>
                                <p>{{comedy.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="fantasy">
                    <a href="/movieist/search/fantasy">ファンタジー></a>
                    <div class="reviewBox">
                        {% for fantasy in fantasyData %}
                        <div class="leftBox">
                            <img src="{{fantasy.image_path}}">
                            <h3>{{fantasy.title}}</h3>
                        </div>
                        <div class="rightBox">
                            <div class="userAndEvaluation">
                                {% for user in fantasy.profile %}
                                <div class="user">
                                    <img src="{{user.userPic.url}}" width="100" height="100" />
                                    <a href="">{{user.user.username}}</a>
                                </div>
                                {% endfor %}
                                <div class="evaluation">
                                    <form fantasy="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{fantasy.id}}">
                                        <input type="submit" name="good" value="GOOD">
                                    </form>
                                    <h3>{{fantasy.countgood}}</h3>
                                    <form fantasy="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{fantasy.id}}">
                                        <input type="submit" name="bad" value="BAD">
                                    </form>
                                    <h3>{{fantasy.countbad}}</h3>
                                </div>
                            </div>
                            <div class="comments">
                                <h3>{{fantasy.commentTitle}}</h3>
                                <p>{{fantasy.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="anime">
                    <a href="/movieist/search/anime">アニメ></a>
                    <div class="reviewBox">
                        {% for anime in animeData %}
                        <div class="leftBox">
                            <img src="{{anime.image_path}}">
                            <h3>{{anime.title}}</h3>
                        </div>
                        <div class="rightBox">
                            <div class="userAndEvaluation">
                                {% for user in anime.profile %}
                                <div class="user">
                                    <img src="{{user.userPic.url}}" width="100" height="100" />
                                    <a href="">{{user.user.username}}</a>
                                </div>
                                {% endfor %}
                                <div class="evaluation">
                                    <form anime="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{anime.id}}">
                                        <input type="submit" name="good" value="GOOD">
                                    </form>
                                    <h3>{{anime.countgood}}</h3>
                                    <form anime="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{anime.id}}">
                                        <input type="submit" name="bad" value="BAD">
                                    </form>
                                    <h3>{{anime.countbad}}</h3>
                                </div>
                            </div>
                            <div class="comments">
                                <h3>{{anime.commentTitle}}</h3>
                                <p>{{anime.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="romance">
                    <a href="/movieist/search/romance">ロマンス></a>
                    <div class="reviewBox">
                        {% for romance in romanceData %}
                        <div class="leftBox">
                            <img src="{{romance.image_path}}">
                            <h3>{{romance.title}}</h3>
                        </div>
                        <div class="rightBox">
                            <div class="userAndEvaluation">
                                {% for user in romance.profile %}
                                <div class="user">
                                    <img src="{{user.userPic.url}}" width="100" height="100" />
                                    <a href="">{{user.user.username}}</a>
                                </div>
                                {% endfor %}
                                <div class="evaluation">
                                    <form romance="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{romance.id}}">
                                        <input type="submit" name="good" value="GOOD">
                                    </form>
                                    <h3>{{romance.countgood}}</h3>
                                    <form romance="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{romance.id}}">
                                        <input type="submit" name="bad" value="BAD">
                                    </form>
                                    <h3>{{romance.countbad}}</h3>
                                </div>
                            </div>
                            <div class="comments">
                                <h3>{{romance.commentTitle}}</h3>
                                <p>{{romance.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="adventure">
                    <a href="/movieist/search/adventure">アドベンチャー></a>
                    <div class="reviewBox">
                        {% for adventure in adventureData %}
                        <div class="leftBox">
                            <img src="{{adventure.image_path}}">
                            <h3>{{adventure.title}}</h3>
                        </div>
                        <div class="rightBox">
                            <div class="userAndEvaluation">
                                {% for user in adventure.profile %}
                                <div class="user">
                                    <img src="{{user.userPic.url}}" width="100" height="100" />
                                    <a href="">{{user.user.username}}</a>
                                </div>
                                {% endfor %}
                                <div class="evaluation">
                                    <form adventure="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{adventure.id}}">
                                        <input type="submit" name="good" value="GOOD">
                                    </form>
                                    <h3>{{adventure.countgood}}</h3>
                                    <form adventure="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{adventure.id}}">
                                        <input type="submit" name="bad" value="BAD">
                                    </form>
                                    <h3>{{adventure.countbad}}</h3>
                                </div>
                            </div>
                            <div class="comments">
                                <h3>{{adventure.commentTitle}}</h3>
                                <p>{{adventure.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="crime">
                    <a href="/movieist/search/crime">クライム></a>
                    <div class="reviewBox">
                        {% for crime in crimeData %}
                        <div class="leftBox">
                            <img src="{{crime.image_path}}">
                            <h3>{{crime.title}}</h3>
                        </div>
                        <div class="rightBox">
                            <div class="userAndEvaluation">
                                {% for user in crime.profile %}
                                <div class="user">
                                    <img src="{{user.userPic.url}}" width="100" height="100" />
                                    <a href="">{{user.user.username}}</a>
                                </div>
                                {% endfor %}
                                <div class="evaluation">
                                    <form crime="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{crime.id}}">
                                        <input type="submit" name="good" value="GOOD">
                                    </form>
                                    <h3>{{crime.countgood}}</h3>
                                    <form crime="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{crime.id}}">
                                        <input type="submit" name="bad" value="BAD">
                                    </form>
                                    <h3>{{crime.countbad}}</h3>
                                </div>
                            </div>
                            <div class="comments">
                                <h3>{{crime.commentTitle}}</h3>
                                <p>{{crime.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="horror">
                    <a href="/movieist/search/horror">ホラー></a>
                    <div class="reviewBox">
                        {% for horror in horrorData %}
                        <div class="leftBox">
                            <img src="{{horror.image_path}}">
                            <h3>{{horror.title}}</h3>
                        </div>
                        <div class="rightBox">
                            <div class="userAndEvaluation">
                                {% for user in horror.profile %}
                                <div class="user">
                                    <img src="{{user.userPic.url}}" width="100" height="100" />
                                    <a href="">{{user.user.username}}</a>
                                </div>
                                {% endfor %}
                                <div class="evaluation">
                                    <form horror="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{horror.id}}">
                                        <input type="submit" name="good" value="GOOD">
                                    </form>
                                    <h3>{{horror.countgood}}</h3>
                                    <form horror="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{horror.id}}">
                                        <input type="submit" name="bad" value="BAD">
                                    </form>
                                    <h3>{{horror.countbad}}</h3>
                                </div>
                            </div>
                            <div class="comments">
                                <h3>{{horror.commentTitle}}</h3>
                                <p>{{horror.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="documentary">
                    <a href="/movieist/search/documentary">ドキュメンタリー></a>
                    <div class="reviewBox">
                        {% for documentary in documentaryData %}
                        <div class="leftBox">
                            <img src="{{documentary.image_path}}">
                            <h3>{{documentary.title}}</h3>
                        </div>
                        <div class="rightBox">
                            <div class="userAndEvaluation">
                                {% for user in documentary.profile %}
                                <div class="user">
                                    <img src="{{user.userPic.url}}" width="100" height="100" />
                                    <a href="">{{user.user.username}}</a>
                                </div>
                                {% endfor %}
                                <div class="evaluation">
                                    <form documentary="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{documentary.id}}">
                                        <input type="submit" name="good" value="GOOD">
                                    </form>
                                    <h3>{{documentary.countgood}}</h3>
                                    <form documentary="{% url 'search' genre %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{documentary.id}}">
                                        <input type="submit" name="bad" value="BAD">
                                    </form>
                                    <h3>{{documentary.countbad}}</h3>
                                </div>
                            </div>
                            <div class="comments">
                                <h3>{{documentary.commentTitle}}</h3>
                                <p>{{documentary.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <div class="footer">
            <div class="footer-container">
                <div class="footer-title">
                    <h3>Movieist></h3>
                    <p>投稿者のおすすめから見つける映画情報サイト >>></p>
                </div>
                <div class="footer-sitemap">
                    <ul>
                        <li>/homePage</li>
                        <li>/search</li>
                        <li>/reviewerRanking</li>
                        <li>/overview</li>
                    </ul>
                    <ul>
                        <li>/login</li>
                        <li>/sign up</li>
                        <li>/profile</li>
                    </ul>
                </div>
            </div>
        </div>
</body>

</html>